/* Custom THeme */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
:root {
  --colorPrimary: #0088cc;
  --colorPrimaryDark: #00334d;
  --fontColor: #ffffff;
  --font: #000000;
}

/* Base */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

/*-----------------------------------------------
nav section
-----------------------------------------------*/

#navbar {
  background-color: var(--colorPrimary);
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: flex-end;
  height: 10%px;
  z-index: 10;
  box-shadow: 0 2px 0 #000000;
}

.navbar-list {
  margin-right: 10px;
  display: flex;
  list-style-type: none;
}

.navbar-list a {
  display: block;
  font-size: 20px;
  padding: 16px;
  text-decoration: none;
  color: var(--fontColor);
}

.navbar-list a:hover {
  background: #006699;
}

.navbar-list li {
  text-decoration: none;
  text-transform: uppercase;
}

/*------------------------
End Navbar
-------------------------*/

/*------------------------
Start Welcome Section
-------------------------*/

.welcome-section {
  background-image: url(https://hackernoon.com/hn-images/1*RNkyx-Zq7w61eR74nMYgnA.jpeg);
  display: flex;
  height: 700px;
  overflow: scroll;
  justify-content: center;
  color: var(--fontColor);
  align-items: center;
  width: 100%;
}

.welcome-header {
  text-align: center;
  float: center;
}

.welcome-header button {
  height: 50px;
  margin-top: 20%;
  padding: 10px 30px 10px;
  transition: 0.3s ease-out;
  border: 2px solid var(--colorPrimaryDark);
  border-radius: 6px;
  color: var(--colorPrimaryDark);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.welcome-header button:hover {
  background: var(--colorPrimaryDark);
  color: var(--fontColor);
}

.welcome-header a {
  text-decoration: none;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
}

/*------------------------
End Welcome Section
-------------------------*/

/*------------------------
Start Projects Section
-------------------------*/
#projects-section {
  padding: 2rem 3rem;
  text-align: center;
  transition: 0.3s ease-out;
  -webkit-transition: width 3s;
  background: #cceeff;
}

.project-header {
  padding: 5rem;
}
.project-header h1 {
  border-bottom: 2px solid var(--colorPrimaryDark);
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.single-project {
  background: var(--colorPrimaryDark);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.single-project .project-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.projects .project-title {
  text-transform: capitalize;
  font-size: 1.1rem;
  height: 50px;
  margin-top: 1rem;
  text-align: center;
  color: var(--fontColor);
  padding: 5px;
}

.projects a {
  text-decoration: none;
}
