/* Custom THeme */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
:root {
  --colorPrimary: #0088cc;
  --colorPrimaryDark: #00334d;
  --fontColor: #ffffff;
  --font: #000000;
}

/* Base */

* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 80%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 70%;
  }
}

body {
  font-family: "Lato", sans-serif;
}

/*-----------------------------------------------
nav section
-----------------------------------------------*/

#navbar {
  background-color: var(--colorPrimary);
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: flex-end;
  height: 10%px;
  z-index: 10;
  box-shadow: 0 2px 0 #000000;
}

.navbar-list {
  margin-right: 10px;
  display: flex;
  list-style-type: none;
}

.navbar-list a {
  display: block;
  font-size: 20px;
  padding: 16px;
  text-decoration: none;
  color: var(--fontColor);
}

.navbar-list a:hover {
  background: #006699;
}

.navbar-list li {
  text-decoration: none;
  text-transform: uppercase;
}

/*------------------------
End Navbar
-------------------------*/

/*------------------------
Start Welcome Section
-------------------------*/

.welcome-section {
  background-image: url(https://hackernoon.com/hn-images/1*RNkyx-Zq7w61eR74nMYgnA.jpeg);
  display: flex;
  height: 700px;
  overflow: scroll;
  justify-content: center;
  color: var(--fontColor);
  align-items: center;
  width: 100%;
}

.welcome-header {
  text-align: center;
  float: center;
}

.welcome-header button {
  height: 50px;
  margin-top: 20%;
  padding: 10px 30px 10px;
  transition: 0.3s ease-out;
  border: 2px solid var(--colorPrimaryDark);
  border-radius: 6px;
  color: var(--colorPrimaryDark);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.welcome-header button:hover {
  background: var(--colorPrimaryDark);
  color: var(--fontColor);
}

.welcome-header a {
  text-decoration: none;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
}

/*------------------------
End Welcome Section
-------------------------*/

/*------------------------
Start Projects Section
-------------------------*/
#projects-section {
  padding: 2rem 3rem;
  text-align: center;
  transition: 0.3s ease-out;
  -webkit-transition: width 3s;
  background: #cceeff;
}

.project-header {
  padding: 5rem;
}
.project-header h1 {
  border-bottom: 2px solid var(--colorPrimaryDark);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.single-project {
  background: var(--colorPrimaryDark);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.single-project .project-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.projects .project-title {
  text-transform: capitalize;
  font-size: 1.1rem;
  height: 50px;
  margin-top: 1rem;
  text-align: center;
  color: var(--fontColor);
  padding: 5px;
}

.projects a {
  text-decoration: none;
}

/*------------------------
End Project Section
-------------------------*/

/*------------------------
Start Contacts Section
-------------------------*/

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
  color: var(--colorPrimarkDark);
}

.contact-header > h2 {
  font-size: 30px;
  height: auto;
  padding: 100px 50px 50px 50px;
  text-transform: uppercase;
}

.contact-section-header > p {
  font-weight: 600px;
  font-style: italic;
  font-size: 70px;
}

.contact-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: auto;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}

.contact-links > h3 {
  justify-content: flex-start;
}

.contact-links a img {
  height: 50px;
  width: 50px;
}

.contact-details {
  font-size: 20px;
  transition: all;
  justify-content: space-evenly;
}

.single-link:hover {
  transform: translateY(8px);
}

.single-link {
  padding: 30px;
  justify-content: center;
}

.single-link a {
  text-decoration: none;
  position: relative;
  color: #000000;
}

/*------------------------
End Contacts Section
-------------------------*/

/*------------------------
Start Footer Section
-------------------------*/

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--colorPrimaryDark);
  border-top: 4px #000000;
  color: #ffffff;
}

footer > p {
  margin: 20px;
}

footer i {
  vertical-align: middle;
}

/*------------------------
End Footer Section
-------------------------*/
